<!DOCTYPE html>
<html> 
  <head>
    <title>Talent Quest Hub</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Georgia;
        font-weight: normal;
      }
      #banner{
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      h2{
        font-size: 32px;
        font-family: Times New Roman;
        font-weight: normal;
        text-align:center;
      }
      .abouttext{
        font-family: Georgia;
      }
      #container{
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
    <center><h1>Talent Quest Hub</h1></center>
    <img id="banner" src="https://a1bc3c45-07c4-4c95-b0fb-d97e6e45dcbb-00-ojba47ulipp.pike.replit.dev/static/Home%20page%20banner.jpg">
    <h2>About Talent Quest Hub</h2>
    <p class="abouttext">
      At Talent Quest Hub, we're passionate about connecting talented individuals with exciting career opportunities. Our platform serves as a dynamic hub where job seekers can embark on their quest for fulfilling careers, and employers can discover top-tier talent to drive their organizations forward. With our intuitive interface and robust search capabilities, navigating the job market has never been easier. Whether you're a seasoned professional looking to take the next step in your career journey or an employer seeking exceptional talent, Talent Quest Hub provides the tools and resources you need to succeed. Join our vibrant community today and unlock a world of endless possibilities in the realm of talent acquisition and career advancement.
    </p>
    <h2>Open positions</h2>
    <p class="abouttext">TODO - Show the open positions</p>
    <div style="text-align:center;">
    <button> Contact us </button>
      <p>copyright 2024, Talent Quest Hub </p>
    </div>
  </body>
</html>